# DataFrame Basics - Practice

In this lab, you'll practice basics dataframe methods to maniuplate dataframes. If you have any questions please USE THE QUEUE!

First, use the cell below to import pandas.

In [1]:
# import pandas
import pandas as pd

Create a variable named "raw_df" to hold your dataframe. Load the "titanic.csv" into the dataframe.

In [3]:
# create a dataframe from the titanic dataset named "raw_df"
df = pd.read('titanic.csv')

AttributeError: module 'pandas' has no attribute 'read'

In the next few cells, read the #code comment# (green colored text) for instructions on what to write in the cell.

In [ ]:
# look at the first 5 rows of your dataframe

In [ ]:
# look at the last 5 rows of your dataframe

In [ ]:
# print out basic information about your dataframe including number of rows, columns, # of non-null values, and datatypes
# (hint: there is one method that does all of this at the same time)

# Selecting Specific Rows and Columns

Now you will practice selecting specific rows and columns in the dataframe. Read the #code comments# in green-colored text and follow the directions to know what to type in the cell.

In [ ]:
# select the fare column with DOT NOTATION and print it below

In [ ]:
# select the Name column with BRACKET NOTATION and print it below

In [ ]:
# select the Name, Age, and Fare columns in one line using a list within BRACKET NOTATION - print it below

In [ ]:
# select the firt three rows and print them below using sliced indexing

In [ ]:
# using the .iloc() method, select rows 20-30 using sliced indexing

# Adding and Dropping Columns

In this section, you will use the .drop() and .insert() methods in pandas to add and delete columns. If you have questions, you can check the pandas documentation here for help or USE THE QUEUE. 

Pandas .drop() method - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

Pandas .insert() method - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.insert.html

Read the #code comments# in the cells below and follow the instructions to know what to type in the cell.

## Important! Before we beging changing the dataframe, we want to create a copy of the raw data. 

In the cell below, create a new variable called "df" and set it equal to raw_df.copy() - USE THE QUEUE if you have any questions about this.

In [ ]:
# creates a new dataframe to start working with which is a copy of the raw dataframe


# For the rest of the exercise, use this new dataframe to manipulate instead of the raw data

In [ ]:
# Drop the "Cabin" column from the dataframe (hint: be sure to use inplace=True to make a permanent change on the dataframe)



# Use .head() to check if the column was dropped successfully

In [ ]:
# Drop the "Embarked" column from the dataframe (hint: be sure to use inplace=True to make a permanent change on the dataframe)


# Use .head() to check if the column was dropped successfully

In [ ]:
# Insert a new column at the beginning of the dataframe. 
# The column should be named "Ship." Set the column value equal to "Titanic"


# Use .head() to check that the column was created successfully

In [ ]:
# Now, add an additional column in between "Ship" and "PassengerId"
# The column should be named "Port." Set the value equal to "Southhampton"



# Use .head() to check that the column was created successfully

# Using .rename() and .replace()

In this section, you will use .rename() to rename a column and .replace() to replace values in a column. If you need help, please USE THE QUEUE. You can also look through Pandas documentation for examples on how to use the methods. 

.replace() - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

.rename() - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html

Read the #code comments# in the cells below and follow the instructions to know what to type in the cell.

In [ ]:
# Use .replace() to replace the values which say "Southampton" with "England"


# Use .head() to check that the values were replaced successfully

In [ ]:
# The "SibSp" column represents the number of siblings a particular passenger had. 
# Use .rename() to make the column name more descriptive of the value it represents.

# Use .head() to check that the column name was changed successfully

In [ ]:
# Use .rename() to change the "PassengerId" column to "passenger_id"

# Use .head() to check that the column name was changed successfully

In [ ]:
# Use .rename() to change the "Pclass" column to "class"


# Use .head() to check that the column name was changed successfully

# Using basic python string methods on the dataframe

In this section, you will use .upper() and .lower() to practice manipulating the column letter casing.

To do this, you will have to select all columns of the dataframe and reassign them to the column names with a string operation on the end. It will look like this:

```df.columns = df.columns.str.upper()```

In [ ]:
# Copy the cell above to see what happens when we invoke the .upper() string method on the column names

# use .head() to see the results

In [ ]:
# Using the same syntax, now make the column names all lower case.

# use .head() to see the results